.App {
  margin-left: 1%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#info_table_wrap {
  border: 2px solid black;
}

.info_table {
  border-right:1px solid black;
  border-left:1px solid black;
  border-top:1px solid black;
  width: 100%;
}

.tabellenzelle_l {
  display: inline;
  float: left;
}

.tabellenzelle_r {
  display: inline;
  float: right;
  border-left: 2px solid black;
  width: 50%;
  text-align: right;
}
