.rc-tree li a.rc-tree-node-selected .cus-label {
  background-color: white;
  border: none;
}
.rc-tree.ui-flat-tree.rc-show-checkbox span.rc-tree-checkbox {
  width: 13px;
  height: 13px;
  background-position: -14px 0;
}
.rc-tree.ui-flat-tree li ul {
  padding: 0;
}
.rc-tree.ui-flat-tree span.rc-tree-switcher {
  visibility: hidden;
}
.rc-tree.ui-flat-tree span.rc-tree-checkbox {
  margin-left: -15px;
}
.rc-tree.ui-flat-tree span.rc-tree-checkbox-indeterminate {
  width: 13px;
  height: 13px;
  background-position: 0 0;
}
